In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [37]:
data_files = glob.glob("../Data/donneesouvertes-interventions-sim*.csv")
data_files

['../Data\\donneesouvertes-interventions-sim-2005-2014.csv',
 '../Data\\donneesouvertes-interventions-sim.csv']

In [38]:
for i,data_file in enumerate(data_files):
    df_tmp = pd.read_csv(data_file)
    if i == 0:
        df_all = df_tmp
    else:
        df_all = df_all.append(df_tmp,'sort=False')

df_all.head()
df_all.describe()

C:\Users\alex.cohen\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,CASERNE,CIV,CREATION_DATE_TIME,DESCRIPTION_GROUPE,DIVISION,INCIDENT_NBR,INCIDENT_TYPE_DESC,LATITUDE,LONGITUDE,MTM8_X,MTM8_Y,NOMBRE_UNITES,NOM_ARROND,NOM_VILLE
0,18,NaN,2005-01-01 00:03:47,Sans incendie,21,1,Inondation,45.620274,-73.619956,NaN,NaN,1.0,Montréal-Nord,Montréal-Nord
1,10,NaN,2005-01-01 00:03:56,Alarmes-incendies,18,2,Alarme privé ou locale,45.494087,-73.582587,NaN,NaN,7.0,Ville-Marie / Parc Jean-Drapeau / Centre-Sud,Montréal
2,72,NaN,2005-01-01 00:03:57,Alarmes-incendies,13,3,Alarme privé ou locale,45.484406,-73.693038,NaN,NaN,6.0,St-Laurent,Saint-Laurent
3,13,NaN,2005-01-01 00:05:01,Sans incendie,23,4,Inondation,45.541383,-73.545944,NaN,NaN,1.0,Mercier / Hochelaga-Maisonneuve,Montréal
4,18,NaN,2005-01-01 00:06:20,Sans incendie,21,5,Inondation,45.611304,-73.632440,NaN,NaN,1.0,Montréal-Nord,Montréal-Nord

,CASERNE,CIV,DIVISION,INCIDENT_NBR,LATITUDE,LONGITUDE,MTM8_X,MTM8_Y,NOMBRE_UNITES
count,1.495075e+06,521752.000000,1.495075e+06,1.495075e+06,1.495074e+06,1.495074e+06,586589.000000,5.865890e+05,1.494480e+06
mean,3.820900e+01,0.987695,9.127937e+00,5.669115e+04,4.552542e+01,-7.362419e+01,295252.412349,5.042899e+06,1.991042e+00
std,2.066875e+01,0.110242,5.974852e+00,3.551713e+04,6.779196e-02,8.476746e-02,6519.699181,6.278637e+03,2.336772e+00
min,3.000000e+00,0.000000,0.000000e+00,1.000000e+00,0.000000e+00,-7.623729e+01,266988.200000,5.029291e+06,1.000000e+00
25%,2.000000e+01,1.000000,5.000000e+00,2.619000e+04,4.548563e+01,-7.364832e+01,293366.900000,5.038607e+06,1.000000e+00
50%,3.700000e+01,1.000000,8.000000e+00,5.272400e+04,4.552101e+01,-7.360481e+01,296734.100000,5.042344e+06,1.000000e+00
75%,5.500000e+01,1.000000,1.200000e+01,8.623050e+04,4.556077e+01,-7.356956e+01,299439.900000,5.046835e+06,2.000000e+00
max,7.900000e+01,1.000000,2.500000e+01,1.316730e+05,4.570346e+01,-7.347926e+01,306389.200000,5.062426e+06,2.750000e+02

In [39]:
int_desc = pd.read_csv("../Data/type-interventions-descriptions20161122.csv")
int_desc.head()

,INCIDENT_TYPE_DESCRIPTION,Description
0,10-22 avec feu,Service non requis pour une intervention dans ...
1,10-22 pour appel aéroport,Service non requis pour une intervention à l'a...
2,10-22 PR effon de structure,Service non requis pour intervention combinée ...
3,10-22 PR effon de tranché,Service non requis pour intervention combinée ...
4,10-22 PR impliquant 10-43,Service non requis pour intervention combinée ...

In [40]:
df_all2 = df_all.merge(int_desc, how='left', left_on='INCIDENT_TYPE_DESC', \
                       right_on='INCIDENT_TYPE_DESCRIPTION')
df_all2 = df_all2.drop(['INCIDENT_TYPE_DESCRIPTION'],axis=1)
df_all2.head()

,CASERNE,CIV,CREATION_DATE_TIME,DESCRIPTION_GROUPE,DIVISION,INCIDENT_NBR,INCIDENT_TYPE_DESC,LATITUDE,LONGITUDE,MTM8_X,MTM8_Y,NOMBRE_UNITES,NOM_ARROND,NOM_VILLE,Description
0,18,NaN,2005-01-01 00:03:47,Sans incendie,21,1,Inondation,45.620274,-73.619956,NaN,NaN,1.0,Montréal-Nord,Montréal-Nord,Inondation
1,10,NaN,2005-01-01 00:03:56,Alarmes-incendies,18,2,Alarme privé ou locale,45.494087,-73.582587,NaN,NaN,7.0,Ville-Marie / Parc Jean-Drapeau / Centre-Sud,Montréal,Alarme privé ou locale
2,72,NaN,2005-01-01 00:03:57,Alarmes-incendies,13,3,Alarme privé ou locale,45.484406,-73.693038,NaN,NaN,6.0,St-Laurent,Saint-Laurent,Alarme privé ou locale
3,13,NaN,2005-01-01 00:05:01,Sans incendie,23,4,Inondation,45.541383,-73.545944,NaN,NaN,1.0,Mercier / Hochelaga-Maisonneuve,Montréal,Inondation
4,18,NaN,2005-01-01 00:06:20,Sans incendie,21,5,Inondation,45.611304,-73.632440,NaN,NaN,1.0,Montréal-Nord,Montréal-Nord,Inondation

In [41]:
df_all2['DESCRIPTION_GROUPE'].value_counts()

Premier répondant              488429
1-REPOND                       397123
Sans incendie                  216662
Alarmes-incendies              211649
SANS FEU                       102639
Autres incendies                38389
AUTREFEU                        14668
Incendies de bâtiments          14593
INCENDIE                         5770
Fausses alertes/annulations      4680
FAU-ALER                          536
NOUVEAU                             2
Name: DESCRIPTION_GROUPE, dtype: int64

In [42]:
df_all2['Description Groupe Clean'] = df_all2['DESCRIPTION_GROUPE'].map({
    '1-REPOND': 'Premier répondant',
    'SANS FEU' : 'Sans incendie',
    'AUTREFEU' : 'Autres incendies',
    'INCENDIE' : 'Incendies de bâtiments',
    'FAU-ALER' : 'Fausses alertes/annulations',
    'NOUVEAU' : 'Nouveau',
    'Alarmes-incendies' : 'Alarmes-incendies',
    'Autres incendies' : 'Autres incendies'
})
df_all2['Description Groupe Clean'] = df_all2['Description Groupe Clean'].fillna(df_all2['DESCRIPTION_GROUPE'])
df_all2['Description Groupe Clean'].value_counts()

Premier répondant              885552
Sans incendie                  319301
Alarmes-incendies              211649
Autres incendies                53057
Incendies de bâtiments          20363
Fausses alertes/annulations      5216
Nouveau                             2
Name: Description Groupe Clean, dtype: int64

In [44]:
df_all2['Lat6'] = round(df_all2['LATITUDE'],6)
df_all2['Long6'] = round(df_all2['LONGITUDE'],6)

In [45]:
df_all2.to_csv("../Data/fire_incidents_clean.csv",index=False)